/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */



.nav-selected{
	color: red !important;
}






	.nav {
	  height: 50px;
	  width: 100%;
	  /* background-color: #4d4d4d; */
	  position: relative;
	}

	.nav > .nav-header {
	  display: inline;
	}

	.nav > .nav-header > .nav-title {
	  display: inline-block;
	  font-size: 22px;
	  color: #fff;
	  padding: 10px 10px 10px 10px;
	}

	.nav > .nav-btn {
	  display: none;
	}

	.nav > .nav-links {
	  display: inline;
	  float: right;
	  font-size: 18px;
	}

	.nav > .nav-links > a {
		margin-top: 14px;
		font-size: medium;
		cursor: pointer;
	  display: inline-block;
	  padding: 13px 10px 13px 10px;
	  text-decoration: none;
	  color: #efefef;
	}

	.nav > .nav-links > a:hover {
	  background-color: rgba(0, 0, 0, 0.3);
		color: red;
	}

	.nav > #nav-check {
	  display: none;
	}

	@media (max-width:600px) {
	  .nav > .nav-btn {
	    display: inline-block;
	    position: absolute;
	    right: 0px;
	    top: 0px;
	  }
	  .nav > .nav-btn > label {
	    display: inline-block;
	    width: 50px;
	    height: 50px;
	    padding-top: 22px;
	  }
	  .nav > .nav-btn > label:hover {
	    background-color: rgba(0, 0, 0, 0.3);
	  }
	  .nav > .nav-btn > label > span {
	    display: block;
	    width: 25px;
	    height: 10px;
	    border-top: 2px solid #eee;
	  }
	  .nav > .nav-links {
	    position: absolute;
	    display: block;
	    width: 100%;
	    background-color: rgba(0, 0, 0, 1);
	    height: 0px;
	    transition: all 0.3s ease-in;
	    overflow-y: hidden;
	    top: 0px;
	    left: 0px;
	  }
	  .nav > .nav-links > a {
			padding-left: 25px;
	    display: block;
	    width: 100%;
	  }

		.nav > #nav-check:not(:checked) + .nav-links {
	    height: 0px;
	  }

	  .nav > #nav-check:checked + .nav-links {
	    height: calc(100vh);
	    overflow-y: auto;
	  }
	}




















	.center {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
			padding-bottom: 20px;
	    width: 100%;
			max-width: 800px;
	}


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, select{
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

/* #Basic Styles
================================================== */

@font-face {
font-family: 'Greenscr';
src: url('/font/Greenscr.ttf') format('truetype');
}

@font-face {
font-family: 'CWM_Regular';
src: url('/font/CWM_Regular.otf') format('otf');
}




body {
	background: #f5f5f5;
	font-family: 'Greenscr';
	font-size: 14px;
	line-height:22px;
	font-weight:300;
	color:#737373;
	overflow-x:hidden;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	-webkit-text-size-adjust: 100%;
 }
 html {
	overflow-x:hidden;
}

/* #Typography
================================================== */
h1, h3, h4, h5, h6 {
	color: #282b30;
	font-family: 'Greenscr';
	text-align:center;
}


@media only screen and (max-width: 768px)
{
	h2{
		width: auto !important;
		text-align:center;
	  height: auto !important;
	  position: absolute !important;
	  top: 80% !important;
	  left: 50% !important;
	  transform: translate(-50%,-50%) !important;
	  color: #fc3300 !important;
		font-size: 14px !important;
	}
}

@media only screen and (min-width: 769px)
{
	h2{
		width: auto !important;
		text-align:center;
	  height: auto !important;
	  position: absolute !important;
	  top: 85% !important;
	  left: 50% !important;
	  transform: translate(-50%,-50%) !important;
	  color: #fc3300 !important;
	}
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 44px; line-height:44px;text-transform:uppercase;font-weight: 700; }
h2 { font-size: 40px; line-height:40px;text-transform:uppercase;font-weight: 700;}
h3 { font-size: 36px; line-height: 36px;text-transform:uppercase;font-weight: 700;}
h4 { font-size: 30px; line-height: 30px;text-transform:uppercase;font-weight: 700;}
h5 { font-size: 22px; line-height: 22px;text-transform:uppercase;font-weight: 400;}
h6 { font-size: 16px; line-height: 16px;text-transform:uppercase;font-weight: 700;}


	p {  }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: 600;}
	small { font-size: 80%; }



/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #323a3d; border-width: 1px 0 0; clear: both; margin:0 10px 0 10px; height: 0; position:relative;}


/* #Links
================================================== */
	a, a:visited { text-decoration: none; }
	a:hover, a:focus { color: #e74c3c;}
	p a, p a:visited { line-height: inherit; text-decoration: none;}
	a:focus{
	outline:none;
	}

/* #Lists
================================================== */
	ul, ol { }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li {  }
	li { line-height: 18px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }
/* #Buttons
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
	background:#363636;
	margin-top:10px;
	border:none;
	  color: #dfdfdf;
	  display: inline-block;
	  font-size: 16px;
	  cursor: pointer;
	  line-height: normal;
	  padding: 15px 25px;
	-webkit-transition : all 0.3s ease-out;
	-moz-transition : all 0.3s ease-out;
	-o-transition :all 0.3s ease-out;
	transition : all 0.3s ease-out;
	width:100%}

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
	  color: #e74c3c;
	background:#292929;	 }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
	  color: #e74c3c;}

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}
/* #Images
================================================== */







/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}







$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;

/* // Outer navigation wrapper */
.navigation {
  height: $nav-height;
  background: $nav-background;
}

/* // Logo and branding */
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}

/* // Container with no padding for navbar */
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

/* // Navigation */
nav {
  float: right;
  z-index: 1000;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: 798px) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

/* // Page content */
article {
  max-width: $content-width;
  margin: 0 auto;
  padding: 10px;
}
